#############################################################
## JOB DESCRIPTION                                         ##
#############################################################

# NPT optimization of water box
# BCHE G117H in water box protein and crystallographic water fixed


#############################################################
## ADJUSTABLE PARAMETERS                                   ##
#############################################################

# Input
structure           DIMER-dock-1-wb-i.psf
coordinates         DIMER-dock-masha-const.coor

set outputname      DIMER-dock-masha-10
#set fixedatoms      fixahvmd.prot.all

paraTypeCharmm	    on
parameters          par_all36_prot.prm
parameters          par_water_ions.str
parameters          par_all36_cgenff_c547-Katya.prm

binaryoutput   no

# Continuing a job from the restart files
if {0} {
#set inputname      myinput
binCoordinates     DIMER-dock-apo-act-22-10.restart.coor
binVelocities      DIMER-dock-apo-act-22-10.restart.vel  ;# remove the "temperature" entry if you use this!
extendedSystem	   DIMER-dock-apo-act-22-10.restart.xsc
} 

firsttimestep     0
set temperature    298
temperature         $temperature

#############################################################
## SIMULATION PARAMETERS                                   ##
#############################################################



# Force-Field Parameters
exclude             scaled1-4
1-4scaling          1.0
cutoff              12.
switching           on
switchdist          10.
pairlistdist        13.5


# Integrator Parameters
timestep            1.0  ;
rigidBonds          water ;
nonbondedFreq       1
fullElectFrequency  2  
stepspercycle       10


# Constant Temperature Control
langevin            on    ;# do langevin dynamics
langevinDamping     5     ;# damping coefficient (gamma) of 5/ps
langevinTemp        $temperature
langevinHydrogen    on    ;# don't couple langevin bath to hydrogens


# Periodic Boundary Conditions
cellBasisVector1    80.80    0.   0.
cellBasisVector2     0.   81.86    0.
cellBasisVector3     0.    0.    113.02
cellOrigin          -47.21 19.53 -27.84

wrapAll             on


# PME (for full-system periodic electrostatics)
PME                 yes
PMEGridSpacing      1.0


# Constant Pressure Control (variable volume)
useGroupPressure      no  ;
useFlexibleCell       no 
useConstantArea       no

langevinPiston        on
langevinPistonTarget  1.01325 ;#  in bar -> 1 atm
langevinPistonPeriod  100.0
langevinPistonDecay   50.0
langevinPistonTemp    $temperature


# Output
outputName          $outputname

restartfreq         1000    ;
dcdfreq             1000
xstFreq             1000
outputEnergies      200
outputPressure      200

#############################################################
## FIXED ATOMS                                             ##
#############################################################

# Fixed Atoms Constraint (set PDB beta-column to 1)
if {0} {
fixedAtoms          on
fixedAtomsFile      $fixedatoms
fixedAtomsCol       B
}


#############################################################
## EXTRA PARAMETERS                                        ##
#############################################################

#colvars              on
#colvarsConfig        masha_site.in

#############################################################
## EXECUTION SCRIPT                                        ##
#############################################################

# Minimization
#minimize            1000
#reinitvels          $temperature
#run                 500000         ;# 500 ps
rescaleFreq  1000
#rescaleTemp  1  
#langevinTemp 1       
minimize     5000
set TEMP 298
rescaleTemp $TEMP 
langevinTemp  $TEMP 
run 1000000
